.navbar {
  align-items: center;
  background: black;
  display: flex;
  padding: 1em;

  &__logo {
    height: 32px;
    margin: right 2em;
    width: 76px;
  }

  &__links {    
    display: flex;
  }
  
  &__link {
    color: white;
    margin: 0.5em;
    text-decoration: none;
  }
}
